* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    gap: 16px;
    justify-content: right;
}

.herotext-background {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.herotext-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    text-wrap: nowrap;
}

.links {
    display: flex;
}

.heroimage img {
    width: 400px;
}

.herotext {
    display: flex;
    max-width: 1000px;
    margin-top: 48px;
    gap: 48px;
}

.herotext .text {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 12px;
}

.herotext .subtext {
    font-size: 18px;
    margin-bottom: 12px;
}

.herotext button {
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    border: none;
    color: white;
    font-weight: 600
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}

.infoheader {
    font-size: 32px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
}

.image-section {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 24px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 150px;
}

.image-border {
    width: 150px;
    height: 150px;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #3882f6;
    flex-shrink: 0;
}
.image-subtext {
    flex-wrap: wrap;
    max-width: 200px;
    text-align: center;
    margin-top: 6px;
    font-size: 12px;
}

.quote {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1000px;
}

.quote .text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
}

.quote .subtext {
    text-align: right;
    font-weight: bold;
}

.signup {
    display: flex;
    color: white;
    justify-content: center;
}

.signup-container {
    display: flex;
    background-color: #3882f6;
    margin-top: 64px;
    margin-bottom: 64px;
    max-width: 1000px;
    height: 150px;
    flex: 1;
    border-radius: 8px;
}

.signup-container .text-container {
    display: flex;
    flex-direction: column;
    flex: 4;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.signup .button-container {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}

.signup button{
    background-color: transparent;
    border-style: solid;
    border-radius: 6px;
    border-color: white;
    color: white;
    height: 30px;
    width: 100px;
    font-weight: bold;

}

.signup .text {
    font-weight: bold;
    align-self: start
}

.footer {
    background-color:#1f2937;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}
