* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: 100px;
    gap: 10px;
}

.header{
    display: flex;
    background-color: #1f2937;
    color: white;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 32px;
    margin-left: 100px
}

.herotext-container {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    padding: 100px;
    gap: 16px;
}

.herotext {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.herotext .text {
    font-size: 48px;
    font-weight: 600;
    color: #f9faf8;
}

img {
    max-width: 400px;
    max-height: auto;
}

.herotext button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    border: none;
    font-weight: 600;
    margin-top: 12px;
}



