* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    gap: 16px;
    justify-content: right;
}

.herotext-background {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.herotext-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    text-wrap: nowrap;
}

.links {
    display: flex;
}

.heroimage img {
    width: 400px;
}

.herotext {
    display: flex;
    max-width: 1000px;
    margin-top: 48px;
    gap: 48px;
}

.herotext .text {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 12px;
}

.herotext .subtext {
    font-size: 18px;
    margin-bottom: 12px;
}

.herotext button {
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    border: none;
    color: white;
    font-weight: 600
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoheader {
    font-size: 32px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
}

.image-section {
    display: flex;
    justify-content: space-evenly;
}

.image-container {
    display:
}

