* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    gap: 16px;
    justify-content: right;
}

.herotext-background {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.herotext-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    text-wrap: nowrap;
}

.links {
    display: flex;
}

